@font-face {
  font-family: 'Larsseit';
  src: url('/Larsseit.otf');
}
:root {
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
body {
  overflow: auto;
  margin: 1.5rem;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  background-image: radial-gradient(#bf9eff, #fff);
  background-attachment: fixed;
}

em-emoji-picker {
  --border-radius: 0px;
  --category-icon-size: 24px;
  --color-border-over: rgba(0, 0, 0, 0.5);
  --color-border: rgba(0, 0, 0, 0.25);
  --font-family: 'Larsseit';
  --font-size: 30px;
  --rgb-accent: 191,158,255;
  --rgb-background: rgba(0, 0, 0, 0);
  --rgb-color: 255,255,255;
  --rgb-input: 255, 255, 255;
  --shadow: rgba(0, 0, 0, 0);

  height: 25vh;
  min-height: 300px;
  max-height: 500px;
}
.haiku {
  font-family: 'Larsseit';
  font-size: 18px;
  margin: -3rem 0 0 2rem;
  color: #000;
  white-space: pre;
}
.instructions {
  font-family: 'Larsseit';
  font-size: 18px;
  margin: 0 0 1rem 2rem;
  color: #000;
}
.emojiList {
  font-size: 50px;
  line-height: 50px;
  margin: 0 0 1rem 1rem;
}
button {
  background: none;
	border: none;
	padding: 0;
  font-size: 30px;
	cursor: pointer;
  font-family: 'Larsseit';
  font-weight: 900;
  color: #777;
	outline: inherit;
}
.container {
  display: flex;
  flex-direction: row;
}
.haiku, .instructions, .emojiList, .container {
  width: 350px;
}
@media screen and (min-width: 800px) {
  .haiku, .instructions, .emojiList, .container {
    width: 720px
  }
  .instructions {
    margin: 0 0 1rem 1rem;
  }
  em-emoji-picker {
    height: 60vh;
    min-height: 400px;
    max-height: 800px;
  }
  .emojiList {
    font-size: 75px; 
    line-height: 75px;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin: 2rem 0 2rem 0;
  }
}
